*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'SF Pro Text';
}

.container{
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 150px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}
.card a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}